:root {
    --main-font: 'Oswald', sans-serif;
    --main-color: #5A010C;
}
body {
    /*height: 100vh;
    C'est intéressant que si tu veux que le contenu soit visible 
    sur l'écran sans qu'on ait besoin de scroller
    */


    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: gray;
}

* {
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
    background-color: white;
    padding: 20px;
    height: 100%;
}

/**********************HEADER***************************/

.header {
    flex-direction: column;
}
.hearder__logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header__titre {
    flex-direction: column;
    align-items: center;
}

.header__titre--normal {
    align-items: center;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 70px;
    margin: 10px 0px 0px 0px;
}

.header__titre--black {
    margin-left: 20px;
    font-size: 20px;
    padding: 9px 18px;
    background-color: black;
    color: white;
    bottom: 30px;
    left: 200px;
    position: relative;
}

.header__titre::after {
    content: "";
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    width: 100%;

}

.header__titre::before {
    content: "";
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 0;
    width: 100%;

}
/**********REGROUPEMENT DE STYLE************/

.header__titre--normal, .header__titre--black {
    font-family: var(--main-font);
}

.header, .hearder__logo, .header__titre {
    display: flex;
    position: relative;
}

.header, .hearder__logo, .header__titre--normal, .header__titre--black {
    justify-content: center;
} 

/**********************SECTION PRESENTATION***************************/

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid blue;
  }

  .presentation__article, .presentation__sysnopsis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;

  }

.presentation__article--titreun {
    font-size: 50px;   
}
.presentation__article--logo > img {
    width: 160px;
}
.presentation__premierparagraphe-bold {
    font-size: 20px;
}

.presentation__sysnopsis__titre-deux {
    font-size: 40px;
    color: var(--main-color);
}
.presentation__article--premier-paragraphe {
    padding-bottom: 30px;
    font-size: 17px;
    border-bottom: 1px solid #000000;
}

.presentation__article-deuxieme-paragraphe {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

/**********REGROUPEMENT DE STYLE************/

.presentation__premierparagraphe-bold, .presentation__article--titreun, .presentation__sysnopsis__titre-deux {
    font-weight: 600;
}

.presentation__article--logo, .presentation__article-deuxieme-paragraphe, .presentation__article--titreun {
    margin: 20px 0px;
}

.presentation__article--titreun, .presentation__sysnopsis__titre-deux, .bold, .presentation__article--premier-paragraphe {
    font-family: var(--main-font);
}

.presentation__article--premier-paragraphe, .presentation__article-deuxieme-paragraphe, .presentation__sysnopsis__troisieme-paragraphe, .presentation__sysnopsis__quatrieme-paragraphe, .presentation__sysnopsis__cinquieme-paragraphe {
    font-family: var(--main-font);
    font-weight: 400;
    margin: 20px 0px;
    font-size: 17px;
}

/**********************SECTION ACTEUR***************************/

.acteur {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    margin: 20px 20px;
    border: 3px solid red;
}

.acteur__nom {
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    width: 600px;
    margin: 5px;
    color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    transition: transform ease-in-out 300ms
}

.acteur__nom i {
    color: #000000;
}

.acteur__nom:hover {
    transform: scale(1.1);
}

.acteur__titre {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 50px;
    margin: 20px 0px;    
}

/**********Téléphone ou tablette************/

@media (max-width: 700px) {
    .acteur__nom {
        width: 400px;

    }
    
}
@media (max-width: 500px) {
    .acteur__nom {
        width: 250px;

    }
    
}

/**********************SECTION PHOTO***************************/

.photo {
    border: 3px solid green;
}

.photo h2 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.photo__détail {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.photo__explication {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid rgb(155, 154, 154);
    width: 20%;
    padding: 20px;
    overflow: hidden;
    
}

.photo__explication__image {
    width: 365px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid rgb(155, 154, 154);
    transition: transform ease-in-out 300ms;
  
}

.photo__explication__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.photo__explication__image:hover {
    transform: scale(1.1);
}

.photo__explication__titre {
    font-weight: 600;
    font-size: 30px;
    padding: 15px 0 15px 0;
    text-align: center;
    color: var(--main-color);
}
.photo__explication__titre + p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

/**********REGROUPEMENT DE STYLE************/


.photo h2, .photo__explication__titre, .photo__explication__titre + p {
    font-family: var(--main-font);
}

/**********Téléphone ou tablette************/

@media (max-width: 1920px) {
    .photo__détail {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;    
    }
    .photo__explication {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid rgb(155, 154, 154);
        width: 100%;
        padding: 20px;
    }

}

@media (max-width: 700px) {
    .photo__détail {
        display: none;
    
    }
    .photo h2 {
        display: none;
    }
}


/**********************FOOTER***************************/
footer {
    display: flex;
    justify-content: center;
    /*width: 100vw;
    sans ça cela va s'adapter aux besoins de ses enfants
    */
    /* pourquoi un margin 0 20px ?*/
   
}

.footer__text {
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 400;
    background-color: #EEEEEE;
    padding: 50px;
}

