:root {
    --main-font: 'Oswald', sans-serif;
    --main-color: #5A010C;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: gray;
}

* {
    box-sizing: border-box;
}
#container {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
    background-color: white;
    padding: 20px;
    height: 100%;
}

/**********Téléphone ou tablette************/

@media screen and (max-width: 780px) {
    #container {
        margin: 0;
    }    
}

/**********************HEADER***************************/

header {
    display: flex;
    background: url('../images/hc.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20vh;
    flex-direction: column-reverse;
}

.header__titre {
    display: flex;
    justify-content: center;
}

.header-container {
    background-color: rgba(225,225,225, 0.5);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    height: 50%;
    position: relative;
    /* afin que les enfants en position absolute ne puissent pas sortir de l'élément
        parent en position relative
    */
    
}
.header-container::before {
    content:"";
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    top: 0;

}
.header-container::after {
    content:"";
    height: 2px;
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
}

.header__titre--normal {
    font-size: 50px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.header__titre--black {
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    align-self: self-start;
    color: white;
}



/**********REGROUPEMENT DE STYLE************/

.header__titre--normal, .header__titre--black {
    font-family: var(--main-font);
}


/**********Téléphone ou tablette************/

@media (max-width: 600px) {
    

}

@media (max-width: 370px) {
     
}



/**********************SECTION PRESENTATION***************************/

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .presentation__article, .presentation__sysnopsis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;

  }

.presentation__article--titreun {
    font-size: 50px;   
}
.presentation__article--logo > img {
    width: 160px;
}
.presentation__premierparagraphe-bold {
    font-size: 20px;
}

.presentation__sysnopsis__titre-deux {
    font-size: 40px;
    color: var(--main-color);
}
.presentation__article--premier-paragraphe {
    padding-bottom: 30px;
    font-size: 17px;
    border-bottom: 1px solid #000000;
}

.presentation__article-deuxieme-paragraphe {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

/**********REGROUPEMENT DE STYLE************/

.presentation__premierparagraphe-bold, .presentation__article--titreun, .presentation__sysnopsis__titre-deux {
    font-weight: 600;
}

.presentation__article--logo, .presentation__article-deuxieme-paragraphe, .presentation__article--titreun {
    margin: 20px 0px;
}

.presentation__article--titreun, .presentation__sysnopsis__titre-deux, .bold, .presentation__article--premier-paragraphe {
    font-family: var(--main-font);
}

.presentation__article--premier-paragraphe, .presentation__article-deuxieme-paragraphe, .presentation__sysnopsis__troisieme-paragraphe, .presentation__sysnopsis__quatrieme-paragraphe, .presentation__sysnopsis__cinquieme-paragraphe {
    font-family: var(--main-font);
    font-weight: 400;
    margin: 20px 0px;
    font-size: 17px;
    padding: 10px;
}

/**********************SECTION ACTEUR***************************/

.acteur {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 400;
    padding: 20px;
}

.acteur > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.acteur__nom {
    display: flex;
    justify-content: center;
    background-color: #EEEEEE;
    width: 300px;
    margin: 5px;
    color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    border-radius: 15px;
    transition: transform ease-in-out 300ms;
}

.acteur__nom i {
    color: #000000;
}

.acteur__nom > a {
    text-decoration: none;
}

.acteur__nom:hover {
    transform: scale(1.1);
}

.acteur__titre {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 50px;
    margin: 0px 0px;    
}

/**********Téléphone ou tablette************/

@media (max-width: 700px) {
    .acteur__nom {
        width: 200px;

    }  
}
@media (max-width: 600px) {
    .acteur__nom {
        width: 180px;

    }
}
@media (max-width: 430px) {
    .acteur__titre {
        text-align: center;
        margin: 10px 0px;    
    }
    
}

/**********************SECTION PHOTO***************************/

.photo h2 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
}

.photo__detail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo__explication {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 20px;
    border: 1px solid rgb(155, 154, 154);
    
}

.photo__explication__image {
    width: 365px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid rgb(155, 154, 154);
    margin-top: 15px;
    transition: transform ease-in-out 300ms;
}

.photo__explication__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.photo__explication__image:hover {
    transform: scale(1.1);
}

.photo__explication__titre {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: var(--main-color);
}
.photo__explication__titre + p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/**********REGROUPEMENT DE STYLE************/


.photo h2, .photo__explication__titre, .photo__explication__titre + p {
    font-family: var(--main-font);
}

/**********Téléphone ou tablette************/

@media (max-width: 1600px) {
    .photo__detail {
        flex-direction: column;
    }
    .photo__explication {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 50%;
        overflow: hidden;
    }
}
@media (max-width: 1080px) {
    .photo__detail {
        flex-direction: column;
    }
    .photo__explication {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 80%;
        overflow: hidden;
    }
}
@media (max-width: 700px) {
    .photo__detail {
        display: none;
    
    }
    .photo h2 {
        display: none;
    }
}


/**********************FOOTER***************************/
footer {
    display: flex;
    justify-content: center;
   
}

.footer__text {
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 400;
    background-color: #EEEEEE;
    padding: 50px;
}